package views

import "itu-pickle/views/layout"

templ Index(started bool, messages []string, fullname string, loggedin bool) {
  @views.Layout() {
    @Panel(started, messages, fullname, loggedin)
  }
}
  
