package views

import "itu-pickle/views/layout"
import "itu-pickle/models"

templ Index(started bool, messages []string, user models.UserData) {
  @views.Layout() {
    @Panel(started, messages, user)
  }
}
  
