package views

templ ScheduleForm() {
// Create a form with htmx contains 3 input fields and a submit button
<form id="form" hx-post="/getSchedule" class="w-full h-full flex flex-col items-center justify-center"
    hx-on="submit: event.preventDefault()">
    <div class="font-bold text-2xl mb-8">
      itu-pickle 🐝
    </div>
    <div class="w-2/3 flex flex-col items-center">
      <label for="token" class="font-bold self-start">Bearer token</label>
      <input type="text" name="token" placeholder="Token" class="block w-full p-2 mt-2 mb-6 bg-[#535C91]"
        required="true" />
    </div>
    <button type="submit" class="block w-2/3 p-2 m-2 bg-blue-500 text-white hover:cursor-pointer">Başlat</button>
  </form>
}
