package views

import "itu-pickle/utils"

templ SchedulePanel(schedule utils.ScheduleResponse) {
<div class="w-11/12 h-11/12 flex flex-col flex-col text-white rounded-lg">
  @ScheduleForm()
  for _, result := range schedule.Results {
    <div class="">
      {result.DersAdiTR}
    </div>
  }
</div>
}
